.wrapper {
  display: grid;

}

body {
  background-color: #ffffff;
  margin: 0;
}

/* --Nav-- */
/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  /* color: #fff; */
}

.nav-links a {
  color: rgb(0, 0, 0);
}

footer {
  display: flex;
  height: auto;
  background-color: #003DA5;
  /* background-image: url(./images/mountains.jpeg);
    background-position: cover;
    background-repeat: no-repeat;
    width: 100%; */
  justify-content: center;
}


/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #003DA5;
  border-radius: 5px;
  transition: 0.3s ease;

}

.menu li:hover a {
  color: #ffffff;
}

.menu li {
  padding: 5px 14px;
}



.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #4c9e9e;
}

.services:hover .dropdown {
  display: block;
}

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 40px;
  user-select: none;
  color: #003DA5;
}

/* APPLYING MEDIA QUERIES */
@media (min-width: 1078px) {


  .cardinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* max-width: 960px; */
    margin: 0 auto;
    gap: 1rem;

  }

  .firstcard {
    display: flex;
    padding: 20px;
    background-color: #003DA5;
    /* margin: 3%; */
    color: #ffffff;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    align-items: flex-start;
  }
  

  .firstcard a {
    color: #ffffff;
  }
  .Sheri {
    display: flex;
    margin-bottom: 1rem;
    background-color: aliceblue;
    /* height: 300px; */
  }
  .sheriface {
    display: block;
    width: 100%;
    height: auto;
  }



}

@media (max-width: 1078px) {
  .menu {
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    margin-top: 20px;
  }


  .menu li:hover {
    display: inline-block;
    background-color: #003DA5;
    transition: 0.3s ease;
    color: #ffffff;
  }

  .menu li+li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #4c9e9e;
  }





}

.banner {
  background-color: #003DA5;
  color: #ffffff;
  display: flex;
  padding: 20px;
  align-content: center;
  justify-content: center;
  position: relative;
  /* margin-top: -20px; */
}

.content {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 5%;
  max-width: 960px;
  margin: auto;
}
.cards {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: aliceblue;
  margin-bottom: 1rem;
}

.cards h3 {
  text-align: center;
  padding-bottom: 10px;
}

.cards h4 {
  padding-bottom: 5px;
}

.herotext {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding: 20px;
  color: black;


}

.footerinfo {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  /* align-items: center;  */
  align-content: space-between;
  padding: 20px;
}

.footerlinks {
  padding: 8px;
  color: #ffffff;

}

.imghero {
  display: block;
  width: 100%;
  height: auto;
}

p {
  padding: 15px;
  font-size: 18px;
}

.firstcard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #003DA5;
  color: #ffffff;
  font-size: 20px;
  align-items: flex-start;
  margin-bottom: 1rem;

}

.firstcard a {
  color: #ffffff;
}
.contactmepic,
.goodreviewspic {
  display: block;
  width: 100%;
}
.Sheri {
  display: flex;
  margin-bottom: 1rem;
  background-color: aliceblue;
  /* height: 550px; */
  flex-direction: column;
}
.sheriface {
  display: block;
  width: 100%;
  height: auto;
}